{% extends 'base.html' %}

{% block content %}

<main style="margin-top :100px">

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Signup | INFLUERA</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    </head>

    <body>

        <section class="signup-section">
            <div class="signup-card">

                <h2>Create Account</h2>
                <p class="sub-text">Join INFLUERA and start collaborating</p>

                <form method="POST" action="{% url 'signup' %}">
                    {% csrf_token %}

                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" name="username" placeholder="Enter username" required>
                    </div>

                    <div class="form-group">
                        <label>Email ID</label>
                        <input type="email" name="email" placeholder="Enter email address" required>
                    </div>

                    <select name="role" class="form-select mb-3" aria-label="Default select example" required>
                        <option selected>---Select Role---</option>
                        <option value="brand">Brand</option>
                        <option value="influencer">Influencer</option>
                    </select>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Enter password" required>
                    </div>
                    <p class="text-danger">
                        {% if error_msg %}
                        {{ error_msg }}
                        {% else %}
                        {% endif %}
                    </p>
                    <button type="submit" class="signup-btn">Sign Up</button>

                </form>

            </div>
        </section>

    </body>

    </html>

</main>
{% endblock %}